.banner-news-page {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__content {
    padding: 100px 0 124px 100px;

    @media (max-width: 1100px) {
      padding-left: 0;
    }

    @media (max-width: 650px) {
      padding: 50px 0;
    }
  }

  &__text {
    &.wp-text {
      h1 {
        color: #fff;
        margin-bottom: 15px;
      }

      span {
        padding: 3px 20px;
        background: rgba(14, 14, 14, 0.8);
        border: 1px solid rgba(226, 226, 226, 0.6);
        color: #898989;
      }
    }
  }

  .path {
    color: #e2e2e2;
  }
}
