.car-brands {
  padding: 120px 0;

  @media (max-width: 650px) {
    padding: 80px 0;
  }

  &__title {
    padding-bottom: 40px;
    @media (max-width: 650px) {
      padding-bottom: 20px;
    }
  }

  &__brands {
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    padding: 25px 0;

    @media (max-width: 650px) {
      padding: 20px 0;
    }
  }

  &__brand-list {
    display: grid;
    align-items: center;
    grid-template-areas: "box1 box2 box3 box4 box5";
    grid-gap: 20px;

    @for $i from 1 to 5 {
      div {
        &:nth-child(#{$i}) {
          grid-area: box + $i;
        }
      }
    }

    @media (max-width: 1100px) {
      grid-template-areas:
        "box1 box2 box3"
        "box4 none box5";
    }

    @media (max-width: 1100px) {
      grid-template-areas:
        "box1 box2"
        "box3 box4"
        "box5 none";
    }
  }

  &__item {
  }
}
