.contact-home {
  &__content {
    padding: 100px 0;
    width: 976px;
    max-width: 100%;
    margin: 0 auto;

    @media (max-width: 650px) {
      padding: 80px 0;
    }
  }

  &__form {
    padding: 30px 60px 40px;
    background: rgba(14, 14, 14, 0.8);
    border: 1px solid rgba(226, 226, 226, 0.6);
    color: #fff;
    position: relative;

    @media (max-width: 650px) {
      padding: 30px 20px;
    }
  }

  &__form-title {
  }

  &__form-paragraph {
    padding: 4px 0 15px;
  }

  &__form-elements {
    width: 100%;
  }

  &__input {
    width: 25%;

    @media (max-width: 1100px) {
      width: 47.7%;
      padding-bottom: 25px;
    }

    @media (max-width: 650px) {
      width: 100%;
      padding-bottom: 15px;
    }
  }

  &__input-checkbox {
    width: 22.4%;

    @media (max-width: 1100px) {
      width: 47.7%;
    }

    @media (max-width: 650px) {
      width: 100%;
      padding-bottom: 15px;
    }
  }

  &__btn {
    width: 20.5%;

    @media (max-width: 1100px) {
      width: 47.7%;
    }

    @media (max-width: 650px) {
      width: 176px;
      margin: 0 auto;
    }
  }

  .form-input {
    border: 1px solid #ffffff;
    color: #fff;

    &::placeholder {
      color: #fff;
    }
  }

  .checkbox-text {
    width: 100%;
    &::before {
      border: 1px solid #ffffff;
    }

    &::after {
      background-image: url("../img/check-orange.svg");
    }
  }
}

.contact-home {
  &.modal-form {
    // max-width: 86vw;

    .contact-home__form {
      background: rgba(14, 14, 14, 1);
    }

    @media (max-width: 650px) {
      // max-width: 87.5vw;
    }
  }
}
