.contacts {
  padding: 60px 0 120px;

  @media (max-width: 650px) {
    padding: 50px 0 80px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 1100px) {
      flex-direction: column;
    }
  }

  &__side-text {
    width: 26%;

    @media (max-width: 1100px) {
      width: 100%;
    }
  }

  &__title {
    padding-bottom: 30px;
  }

  &__contact-items {
  }

  &__adress-item {
    display: flex;
    align-items: center;
  }

  &__adress-icon {
    margin-right: 6px;
  }

  &__adress {
  }

  &__phones {
    padding: 15px 0;
  }

  &__phone-item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 2px;
    }
  }

  &__phone-icon {
    margin-right: 5px;
  }

  &__phone {
  }

  &__mail-item {
    display: flex;
    align-items: center;
  }

  &__mail-icon {
    margin-right: 4px;
  }

  &__mail {
  }

  &__form {
    width: 59%;
    max-width: 735px;
    padding: 30px 60px;
    background: rgba(14, 14, 14, 0.8);
    color: #fff;

    @media (max-width: 1100px) {
      width: 100%;
      margin-top: 80px;
    }

    @media (max-width: 650px) {
      padding: 30px 20px;
    }
  }

  .form-input,
  .form-textarea {
    border: 1px solid #ffffff;
    color: #fff;

    &::placeholder {
      color: #fff;
    }
  }

  &__form-title {
  }

  &__form-paragraph {
    padding: 4px 0 15px;
  }

  &__form-elements {
    flex-wrap: wrap;
  }

  &__input {
    width: 31%;
    padding-bottom: 15px;

    @media (max-width: 650px) {
      width: 100%;
      padding-bottom: 12px;
    }
  }

  &__textarea {
    width: 100%;
    padding-bottom: 15px;

    textarea {
      resize: none;
    }

    @media (max-width: 650px) {
      padding-bottom: 12px;
    }
  }

  &__btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    @media (max-width: 650px) {
      justify-content: center;
    }
  }
}
