.contact-home {
  &__container {
  }

  &__content {
    padding: 100px 0;
    width: 976px;
    max-width: 100%;
    margin: 0 auto;
  }

  &__form {
    padding: 30px 60px 40px;
    background: rgba(14, 14, 14, 0.8);
    border: 1px solid rgba(226, 226, 226, 0.6);
    color: #fff;
    position: relative;
  }

  &__form-title {
  }

  &__form-paragraph {
    padding: 4px 0 15px;
  }

  &__form-elements {
  }

  &__input {
  }

  &__checkbox {
  }

  &__btn {
  }

  .form-input {
    border: 1px solid #ffffff;
    color: #fff;

    &::placeholder {
      color: #fff;
    }
  }

  .checkbox-text {
    width: 192px;

    &::before {
      border: 1px solid #ffffff;
    }

    &::after {
      background-image: url("../img/check-orange.svg");
    }
  }
}
.container {
}
.title-h3 {
}
.normal-text {
}
.form-elements {
}

.btn {
}
.btn-text {
}
