.footer {
  background: #0e0e0e;
  padding: 50px 0;
  color: #fff;

  &__content {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;

    & > * {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }

    @media (max-width: 1100px) {
      flex-wrap: wrap;
    }

    @media (max-width: 650px) {
      flex-direction: column;

      & > * {
        &:not(:last-child) {
          margin-right: 0;
        }
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    order: -2;

    @media (max-width: 650px) {
      align-self: center;
    }
  }

  &__logo {
    width: 206px;

    @media (max-width: 650px) {
      width: 150px;
    }
  }

  &__media {
    display: flex;
    margin-top: 20px;

    li {
      &:not(:last-child) {
        margin-right: 16px;
      }

      svg {
        width: 22px;
        height: 22px;
        fill: #fff;
        transition: 0.2s;

        @media (hover: hover) {
          &:hover {
            fill: #82c3ff;
          }
        }
      }
    }

    @media (max-width: 650px) {
      display: none;
    }
  }

  &__creator {
    color: #cfcfcf;
    margin-bottom: 2px;
    margin-top: auto;

    @media (max-width: 650px) {
      display: none;
    }
  }

  &__copy {
    color: #7a7a7a;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;

    @media (max-width: 650px) {
      display: none;
    }
  }

  &__media-mob {
    @extend .footer__media;
    display: none;
    @media (max-width: 650px) {
      display: flex;
      margin-bottom: 30px;
    }
  }

  &__creator-mob {
    @extend .footer__creator;
    display: none;
    @media (max-width: 650px) {
      display: block;
    }
  }

  &__copy-mob {
    @extend .footer__copy;
    display: none;
    @media (max-width: 650px) {
      display: block;
    }
  }

  &__nav {
    li {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    @media (max-width: 650px) {
      margin-bottom: 20px;
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  &__title {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__contacts {
    li {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    max-width: 195px;
  }

  &__form {
    width: 31.2%;

    @media (max-width: 1100px) {
      width: 372px;
      margin-top: 30px;
    }

    @media (max-width: 650px) {
      margin-top: 0;
      padding: 30px 0 50px;
      order: -1;
      align-self: center;
      display: flex;
      flex-direction: column;
      width: 100%;

      h5 {
        align-self: center;
      }
    }
  }

  &__form-elements {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 650px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__form-input {
    width: calc(50% - 6px);

    &:nth-child(odd) {
      margin-right: 12px;
    }

    &:first-child {
      margin-bottom: 12px;
    }

    @media (max-width: 650px) {
      &:nth-child(odd) {
        margin-right: 0;
      }

      margin-bottom: 12px;
      width: 100%;
      max-width: 230px;
    }
  }

  &__form-button {
    width: calc(50% - 6px);
    @media (max-width: 650px) {
      width: 180px;
    }
  }

  .form-input {
    color: #e4e4e4;
    &::placeholder {
      color: #e4e4e4;
    }
  }
}
