.header {
  padding: 20px 0;

  @media (max-width: 650px) {
    padding: 15px 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 207px;
    z-index: 2;

    @media (max-width: 650px) {
      width: 130px;
    }
  }

  &__logo-mob {
    display: none;

    @media (max-width: 650px) {
      display: block;
      width: 222px;
      padding-bottom: 50px;
    }
  }

  &__nav {
    width: 51.7%;

    @media (max-width: 1100px) {
      width: 60%;
    }

    @media (max-width: 850px) {
      position: fixed;
      right: -150vw;
      top: 0;
      height: 100vh;
      width: 250px;
      z-index: 2;
      background: #353535;
      transition: all 0.5s ease 0s;
      display: flex;
      flex-direction: column;
      padding-top: 80px;

      &._active {
        right: 0;
      }
    }

    @media (max-width: 650px) {
      top: -150vh;
      left: 0;
      width: 100%;
      padding-top: 70px;
      align-items: center;

      &._active {
        top: 0;
      }
    }
  }

  &__burger {
    display: none;

    @media (max-width: 850px) {
      z-index: 5;
      display: block;
      position: relative;
      width: 22px;
      height: 16px;

      span {
        transition: all 0.3s ease 0s;
        right: 0px;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #353535;

        &:first-child {
          top: 0px;
        }

        &:nth-child(2) {
          top: calc(50% - 1px);
        }

        &:last-child {
          top: auto;
          bottom: 0px;
        }
      }

      &._active {
        span {
          transform: scale(0);
          background: #ffffff;

          &:first-child {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
          }
          &:last-child {
            transform: rotate(45deg);
            bottom: calc(50% - 1px);
          }
        }
      }
    }
  }

  .menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > li {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #353535;
      transition: 0.2s;
    }

    @media (max-width: 850px) {
      flex-direction: column;

      & > li {
        color: #fff;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (hover: hover) {
  .menu-items {
    & > li {
      &:hover {
        color: #82c3ff;
      }
    }
  }
}
