.modal-thanks {
  width: 830px;
  background: #82c3ff;
  color: #fff;
  display: flex;
  justify-content: center;

  &__content {
    padding: 55px 25px;

    h3 {
      margin: 5px 0 10px;
    }

    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #e4e4e4;

      @media (max-width: 650px) {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }

  &__logo {
    width: 38px;

    @media (max-width: 650px) {
      width: 31px;
    }
  }
}
