.modal-slider {
  width: 820px;

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    padding-bottom: 15px;

    @media (max-width: 650px) {
      font-size: 14px;
      line-height: 22px;
    }
  }
}

.modal-slider-main {
  position: relative;
  margin-bottom: 10px;

  .slick-track {
    display: flex;
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    height: 18px;
    width: 44px;
    cursor: pointer;
    z-index: 10;

    @media (max-width: 650px) {
      height: 10px;
      width: 27px;
    }
  }

  .slick-arrow.slick-prev {
    background: url("../img/modal-slider-prev.svg") 0 0 no-repeat;
    left: 30px;
  }

  .slick-arrow.slick-next {
    background: url("../img/modal-slider-next.svg") 0 0 no-repeat;
    right: 30px;
  }
}

.modal-slider-nav {
  margin: 0 -10px;

  .slick-track {
    display: flex;
  }

  .slick-slide {
    margin: 0 10px;
  }
}
