.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;

  @media (max-width: 650px) {
    font-size: 18px;
  }

  .prev {
    height: 12px;
    width: 26px;
    background: url("../img/pagination-prev.svg") 0 0 no-repeat;
  }
  .page-numbers {
    margin: 0 5px;
  }
  .dots {
    align-self: flex-end;

    &:first-of-type {
      margin: 0 -5px 0 18px;
    }

    &:last-of-type {
      margin: 0 18px 0 -5px;
    }
  }
  .current {
    color: #f3a845;
  }
  .next {
    height: 12px;
    width: 26px;
    background: url("../img/pagination-next.svg") 0 0 no-repeat;
  }
}
