.portfolio-service {
  padding: 120px 0;
  @media (max-width: 650px) {
    padding: 80px 0;
  }

  &__top {
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .arrows {
    display: flex;
    align-items: center;
    padding-left: 50px;

    @media (max-width: 650px) {
      display: none;
    }
  }

  .arrows-mob {
    display: none;

    @media (max-width: 650px) {
      display: flex;
      justify-content: center;
      padding-top: 40px;
    }
  }

  .slick-arrow {
    font-size: 0;
    width: 44px;
    height: 18px;
    cursor: pointer;
  }

  .slick-arrow.slick-prev {
    background: url("../img/slider-arrow-prev.svg") 0 0 no-repeat;
    margin-right: 38px;
  }

  .slick-arrow.slick-next {
    background: url("../img/slider-arrow-next.svg") 0 0 no-repeat;
  }

  .portfolio-slider {
    margin: 0 -10px;
    .slick-track {
      display: flex;
    }

    .slick-slide {
      margin: 0 10px;
    }
  }
}
