.service-title-and-text {
  padding: 120px 0 80px;

  @media (max-width: 650px) {
    padding: 50px 0 80px;
  }

  &__title {
    padding-bottom: 20px;
    @media (max-width: 650px) {
      padding-bottom: 15px;
    }
  }

  &__paragraph {
    &:not(:last-child) {
      padding-bottom: 15px;
    }
  }
}
