.services-home {
  &__title {
    padding-bottom: 40px;

    @media (max-width: 650px) {
      padding-bottom: 20px;
    }
  }
}
.services-items {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  flex-wrap: wrap;
}

.services-item {
  width: 32%;
  padding: 80px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 1100px) {
    width: 48.7%;
  }

  @media (max-width: 650px) {
    width: 100%;
    padding: 55px 10px 10px;
    margin-bottom: 22px;
  }
}

.services-item-text {
  h3 {
    color: #fff;
    text-align: center;

    @media (max-width: 850px) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  p {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #f3a845;
    margin: 5px 0 70px !important;
    text-align: center;

    @media (max-width: 650px) {
      margin: 2px 0 36px !important;
    }
  }
}
.services-item-price {
}

.services-item-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.services-item-btn {
  width: 48.6%;

  &:first-child {
    background: transparent;
    color: #f3a845;
  }

  &:last-child {
    color: #0e0e0e;
  }
}

body {
  &.mouse {
    .services-item-btn {
      &:first-child {
        &:hover {
          background: #f3a845;

          .btn-text {
            color: #0e0e0e;
          }
        }
      }

      &:last-child {
        &:hover {
          .btn-text {
            color: #f3a845;
          }
        }
      }
    }
  }
}
