@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff2") format("woff2"),
      url("../fonts/#{$file_name}.woff") format("woff");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";
$fontFamily: "Barlow", sans-serif;
@import "common";
@import "header";
@import "footer";
@import "banner";
@import "slider";
@import "facts";
@import "our-services";
@import "why-us";
@import "about-us";
@import "for";
@import "partners";
@import "news-home";
@import "get-in-touch";
@import "play-video";
@import "news";
@import "news-article";
@import "other-news";
@import "error-404";
@import "modal-thanks";
