.tech-service-prices {
  &__title {
    padding-bottom: 40px;

    @media (max-width: 650px) {
      padding-bottom: 20px;
    }
  }
}

.price-item {
  &:not(:last-child) {
    margin-bottom: 12px;

    @media (max-width: 650px) {
      margin-bottom: 10px;
    }
  }
}

.price-item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1100px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.price-item-title {
  @media (max-width: 1100px) {
    margin-bottom: 10px;
  }

  @media (max-width: 650px) {
    width: 100%;
  }
}

.price-item-info {
  display: flex;
  align-items: center;

  @media (max-width: 1100px) {
    width: 100%;
    justify-content: space-between;
  }
}
.price-item-price {
  &.wp-text {
    p {
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      padding-right: 50px;
      color: #f3a845;

      @media (max-width: 650px) {
        padding-right: 0;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}
.price-item-btn {
  background: transparent;

  @media (max-width: 650px) {
    max-width: 52%;
  }

  .btn-text {
    color: #f3a845;
  }
}

body {
  &.mouse {
    .price-item-btn {
      &:hover {
        background: #f3a845;

        .btn-text {
          color: #fff;
        }
      }
    }
  }
}
