.why-us {
  padding: 130px 0;
  background: #353535;
  color: #fff;

  @media (max-width: 650px) {
    padding: 80px 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1100px) {
      flex-direction: column;
    }
  }

  &__title {
    width: 357px;
    @media (max-width: 1100px) {
      width: 100%;
      padding-bottom: 60px;
    }

    @media (max-width: 650px) {
      padding-bottom: 30px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 90px;
    row-gap: 60px;
    width: 520px;

    @media (max-width: 1100px) {
      width: 100%;
    }

    @media (max-width: 650px) {
      grid-template-columns: 1fr;
      border-top: none;
      border-bottom: none;
      row-gap: 30px;
    }
  }

  &__item {
    h4 {
      margin: 10px 0;
    }

    p {
      color: #cfcfcf;
    }
  }

  &__icon {
  }
}
.container {
}
.wp-text {
}
